* {
	box-sizing: border-box;
}

.container {
	max-width: $base_width;
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: $grid_padding;
}

@media (min-width: 992px) {
	@for $i from 1 through 12 {
		.col-#{$i} {
			grid-column: span #{$i};
		}
	}
}

footer {
	margin-top: 1rem;
	text-align: center;
}

.breadcrumb {
	margin-bottom: 1rem;
}
