{{template "head.html" .}}
<main class="index">
	<div class="container markdown well">
		<h1>Lil' Hub</h1>
		<p>
			This is a lightweight, free software frontend for
			<a href="https://github.com">GitHub</a>.
		</p>
		<ul>
			<li>Lightweight &amp; JavaScript free</li>
			<li>URL-compatible with GitHub</li>
			<li><a href="https://git.sr.ht/~sircmpwn/lilhub">Free software</a></li>
		</ul>
		<p>
			Simply replace <code>github.com</code> with
			<code>lilhub.org</code> in any GitHub URL to make use
			of Lil' Hub.
		</p>
		<p>
			Want to see how it works? Check out this example
			repository: <a href="/riscv/riscv-isa-manual">riscv/riscv-isa-manual</a>
		</p>
	</div>
</main>
