{{template "head.html" .}}
<main class="repository repo-blob">
	{{template "repo-nav.html" .Repository }}
	{{template "breadcrumb.html" . }}

	<div class="container well well-header">
		<ul>
			<li class="active"><a>Code</a></li>
			<li><a href="#">Blame</a></li>
		</ul>
		<span class="file-info">
			123 KiB
		</span>
		<ul>
			<li><a href="#">View raw</a></li>
			<li><a href="#">Download</a></li>
		</ul>
	</div>

	<div class="container well">
		{{hl .Blob.Text .Path}}
	</div>
</main>
{{template "foot.html" .}}
