{{template "head.html" .}}
<main class="repository repo-blob">
	{{template "repo-nav.html" .Repository }}
	{{template "breadcrumb.html" . }}

	<div class="container well well-header">
		<ul>
			<li class="active"><a>Code</a></li>
			<li><a href="#">Blame</a></li>
		</ul>
		<span class="file-info">{{.Size}}</span>
		<ul>
			<li><a
			    href="https://github.com/{{.Repository.Owner.Login}}/{{.Repository.Name}}/raw/{{.Ref}}/{{.Path}}"
			>View raw</a></li>
		</ul>
	</div>

	<div class="container well code">
		{{hl .Blob.Text .Path}}
	</div>
</main>
{{template "foot.html" .}}
