{{template "head.html" .}}
<main class="repository repo-index">
	{{template "repo-nav.html" .Repository }}

	<div class="container">
		<div class="row">
			<div class="col-8">
				{{template "commit-brief.html" .Repository.Object.Value}}
				{{template "tree.html" .Tree}}
			</div>

			<div class="col-4 repo-sidebar">
				<p>
					{{html .Repository.DescriptionHTML}}
				</p>
				<ul class="repo-datapoints">
					{{ if .Repository.LicenseInfo }}
					<li title="{{.Repository.LicenseInfo.SpdxId}}">
						{{ if .Repository.LicenseInfo.Nickname}}
						{{.Repository.LicenseInfo.Nickname}}
						{{ else }}
						{{.Repository.LicenseInfo.Name}}
						{{ end }}
					</li>
					{{ end }}
					{{ if .Repository.HomepageUrl }}
					<li>
						<a href="{{.Repository.HomepageUrl}}">
							{{.Repository.HomepageUrl}}
						</a>
					</li>
					{{ end }}
				</ul>
				<h3>Clone</h3>
				<dl class="well">
					<dt>HTTP(s)</dt>
					<dd><a href="{{.Repository.Url}}">{{.Repository.Url}}</a></dd>
					<dt>SSH</dt>
					<dd>{{.Repository.SshUrl}}</dd>
				</dl>
			</div>
		</div>
	</div>

	{{ if .Readme.Object }}
	<div class="container">
		<div class="well readme">
			{{md .Readme.Object.Value.Text}}
		</div>
	</div>
	{{ end }}
</main>
{{template "foot.html" .}}
