{{template "head.html" .}}
<main class="repository repo-index">
	{{template "repo-nav.html" .Repository }}

	<div class="container">
		<div class="row">
			<div class="col-9">
				{{template "commit-brief.html" .Repository.Object.Value}}
				{{template "tree.html" .Tree}}
			</div>

			<div class="col-3">
				<p>
					{{html .Repository.DescriptionHTML}}
				</p>
			</div>
		</div>
	</div>

	{{ if .Readme.Object }}
	<div class="container">
		<div class="well readme">
			{{md .Readme.Object.Value.Text}}
		</div>
	</div>
	{{ end }}
</main>
{{template "foot.html" .}}
